/* /* This is header sections* */
*{
    margin: 0;
    padding: 0;
}
.title{
    background: rgba(229, 84, 115, 0.10);;
    width: 1920px;
    height: 850px;
 
}


.banner{
    display: flex;
    align-items: center;
}
   
.header-title{
    gap:50px;

}


.header-title1{
    display: flex;
    width: 700px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-top: 190px;
    margin-right: 10px;
    margin-left: 120px;
    margin-bottom: 10px;
    

    

}
.Description{
    display: flex;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 120px;
    

}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background: #E55473;
    margin-left: 120px;
    margin-top: 20px;
}
/*main*/
.main{
    width: 1920px;
    height: 4867px;
    background: #FFF;
}
.picture{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 220px;
    margin-left: 230px; 
}

/* This main section*/


.title-continer1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding: 2px 5px;
}
.title-description{ 
display: flex;
width: 590px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding: 3px;
margin-left: 663px;
margin-right:  663px;
}
 /* List-item */

.flower-name{
    display: flex;
    align-items: center;
    margin-left: 240px;
    margin-right: 120px;
    margin-bottom: auto;
    margin-top: 40px;
    list-style: none;
    gap: 10px;
}

.bg1{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 110px;
    padding-right: 78px;
    padding-left: 76px;
    margin-left: 30s0px;
}
.bg2{
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 117px;
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 50px;
   
}
.bg3{
    width: 314px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);height: 471px;
    padding-top: 67px;
    padding-right: 75px;
    padding-left: 75px;

}
.pic{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: none;
}
.pic2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: none;
  
}
.pic1{ 
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: none;
}
/* Flower list */
.flower-list{
    display: flex;
    list-style: none;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 240px ;
    margin-right: 240px;
    margin-top: 80px;

}
.flower-list1{ 
    text-align: justify;
width: 88px;
height: 88px;
padding-top: 85px;
padding-left: 315px;
padding-bottom: 145px;
}
.flower-list2{
    width: 88px;
    height: 88px;
    padding-top: 85px;
    padding-left: 315px;
    padding-bottom: 145px;

}
.flower-list3{
    width: 88px;
    height: 88px;
    padding-top: 85px;
    padding-left: 315px;
    padding-bottom: 145px;
}
/*list item*/

.li1{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;


}
.li2{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
.li3{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    display: inline-flex;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
#span{
    color: #E55473;
}
.flower-banner{
display: flex;
align-items: center;
width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 50px;
}
.flower-description1{
    padding-top: 230px;
    padding-left: 420px;
    padding-bottom: 40px;
}
.paragraph{
display: flex;
padding-top: 0;
padding-left: 390px;
margin-right: auto;
width: 594px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.btn1{
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
border: none;
background: #E55473;
margin-left: 595px;
margin-top: 20px;

}
.img1{
width: 318px;
height: 420px;
padding: 5px;
margin-left: 80px;
margin-top: 100px;
margin-bottom: 100px;
}
.picture-banner{
     
}
.flower-scetor{
    display: flex;
    align-items: center; 
}
